.contactInfo {
    display: flex;
    gap: 50px;
}  

.contactIcon {
    padding-left: 2px;
    padding-right: 10px;
}

.contactDelete {
    position: absolute;
    width: 100px;
    margin: 10px auto 0;
    border: none;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    left: 200px;
}